.env
oauth2.json
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
logs/
build/
dist/
release/
*.AppImage
*.dmg
*.exe
*.tar.gz
demo/results/
demo/features/
demo/Data
demo/Data-x20/
models/
REP.md
